{% extends 'base.html' %}
{% block content %}
<div class="container py-5" style="max-width:900px">
  <div class="card p-4 shadow-sm">
    <h4 class="mb-3">Post a Buy Request</h4>
    <form method="post">
      {{ form.hidden_tag() }}
      <div class="row g-3">
        <div class="col-md-8">{{ form.title.label(class_="form-label") }} {{ form.title(class_="form-control") }}</div>
        <div class="col-md-4">{{ form.author.label(class_="form-label") }} {{ form.author(class_="form-control") }}</div>
        <div class="col-md-4">{{ form.budget.label(class_="form-label") }} {{ form.budget(class_="form-control") }}</div>
        <div class="col-md-4">{{ form.location.label(class_="form-label") }} {{ form.location(class_="form-control") }}</div>
        <div class="col-12">{{ form.details.label(class_="form-label") }} {{ form.details(class_="form-control", rows=4) }}</div>
        <div class="col-12">{{ form.submit(class_="btn btn-primary") }}</div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
